<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% block title %}
    <meta charset="UTF-8">
    {% if title %}
        <title>Про Flask - {{title}}</title>
    {% else %}
        <title>Про Фласк</title>
    {% endif %}
{% endblock %}
</head>
<body>
{% block content %}
    {% block mainmenu %}
        <ul class="mainmenu">
            {% for p in menu %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
    <div class="clear" ></div>
    <div class="content">

    {% if title %}
    <h1>{{title}}</h1>
    {% else %}
    <h1>Про Фласк</h1>
    {% endif %}
{% endblock %}
    </div>
</body>
</html>